<a href='/' class='button is-danger is-small' style='margin-bottom: 2em'>
    Back
</a>
<form action=<%= '/update/' + result._id + '?_method=PUT' %> method='POST' style="max-width: 500px">
    <% for(var j=0; j<fields.length; j++) {%>
        <div class='field'>
            <label class="label"><%= fields[j] %></label>
            <div class='control'>
                <input class='input' type='text' placeholder='<%= fields[j] %>' name='<%= fields[j] %>' value='<%= result[fields[j]] %>'>
            </div>
        </div>
    <% } %>
    <button type='submit' class='button is-success is-small'>Submit</button>
</form>