<a href='/logout' class='button is-danger is-small' style='margin-bottom: 2em'>
    Logout
</a>
<% if (premiumButton != 'no') { %>
    <a href='/premium' class='button is-info is-small' style='margin-bottom: 2em'>
        Be Premium
    </a>
<% } %>
<br>
<% if (premiumButton != 'no') { %>
    <small>Anda adalah user free</small>
<% } else { %>
    <small>Anda adalah user premium</small>
<% } %>
<br>
<small>Penyimpanan yang digunakan: <%= size %></small>
<br>
<br>
<a href='/add' class='button is-success is-small' style='margin-bottom: 2em'>
    Add
</a>
<br>
<div style='overflow-x: auto; font-size: 0.8em'>
    <table class='table is-bordered is-striped is-narrow is-hoverable is-fullwidth'>
        <thead>
            <tr>
                <% for(var i=0; i<fields.length; i++) {%>
                    <th><%= fields[i] %></th>
                <% } %>
                <th>Action</th>
            <tr>
        </thead>
        <tbody>
            <% for(var i=0; i<results.length; i++) {%>
                <tr>
                    <% for(var j=0; j<fields.length; j++) {%>
                        <td><%= results[i][fields[j]] %></td>
                    <% } %>
                        <td nowrap style='width: 20em; background-color: white'>
                            <div class='columns is-gapless'>
                                <div class='column'>
                                    <a href=<%= '/view/' + results[i].filename.replace(/\s+/g, '%20') %>  class='button is-primary is-small'>
                                        View
                                    </a>
                                </div>
                                <div class='column'>
                                    <a href=<%= '/edit/' + results[i].filename.replace(/\s+/g, '%20') %>  class='button is-info is-small'>
                                        Rename
                                    </a>
                                </div>
                                <% if(results[i].filename.replace(/\s+/g, '%20').split('.').length > 1 ) { %>
                                    <div class='column'>
                                        <a href=<%= '/web/api/download/' + results[i].filename.replace(/\s+/g, '%20') %>  class='button is-success is-small'>
                                            Download
                                        </a>
                                    </div>
                                <% } %>
                                <div class='column'>
                                    <form action=<%= '/web/api/delete/' + results[i].filename.replace(/\s+/g, '%20') + '?_method=DELETE' %> method='POST'>
                                        <button type='submit' class='button is-danger is-small'>Delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<nav class='pagination is-small' role='navigation' aria-label='pagination' style='margin-top: 2em; margin-right: 0.25rem'>
    <a <% if(page - 1 == 0) {%><%= 'disabled' %> <% } else { %> <%= 'href=/page/' %><%= page - 1 %> %> <% } %> class='pagination-previous'>Previous</a>
    <a <% if(page == pages) {%><%= 'disabled' %> <% } else { %> <%= 'href=/page/' %><%= page + 1 %> %> <% } %> class='pagination-next'>Next page</a>
    <ul class='pagination-list'>
        <li><a class='pagination-link <% if(page == 1) {%> <%= 'is-current' %> <% } %>' aria-label='Goto page 1' href='/page/1'>1</a></li>
        <% if(pages > 1) { %>
            <% if(page > 6 && pages > 11) { %>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <% for(var i=first; i<=last; i++) {%>
                <li><a class='pagination-link <% if(page == i) {%> <%= 'is-current' %> <% } %>' aria-label='Goto page <%= i%>' href='/page/<%= i%>'><%= i%></a></li>
            <% } %>
            <% if(page < pages - 5 && pages > 11) { %>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
            <% } %>
            <li><a class='pagination-link <% if(page == pages) {%> <%= 'is-current' %> <% } %>' aria-label='Goto page <%= pages%>' href='/page/<%= pages%>'><%= pages%></a></li>
        <% } %>
    </ul>
</nav>